<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/window.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/main.js"></script>
  </head>
  <style>
    .text-white {
      color: white;
    }
  </style>
  <body>
    <div class="regionPrimaryNav">
      <div class="wrapper">
        <nav class="nav">
          <a class="logo-block" href="/">
            <img src="/static/logoNew.png" class="nav-logo" alt="logo" />
            <span class="navbar-brand">
              Book<span class="lgt-grey">Wise</span>
            </span>
          </a>
          <ul class="navbar-nav">
            <li>
              <a class="nav-links" href="/top50"><span>#</span>Top50</a>
            </li>
            <li>
              <a class="nav-links" style="color: #52616b" href="/recommend"
                >Recommend</a
              >
            </li>
            <li>
              <a class="nav-links" href="/aboutUs">About Us</a>
            </li>
            {% if not user_data[0] %}
            <li>
              <div class="user-block">
                <a class="user-btn log-btn" href="/signUp">Sign Up</a>
                <a class="user-btn sign-btn" href="/loginPage">Log In</a>
              </div>
            </li>
            {% endif %} {% if user_data[0] %}
            <li>
              <div class="user-dropdown">
                <a class="profile-link" href="#">
                  <div id="profile-picture">{{ user_data[2] }}</div>
                </a>
                <div class="user-profile-dropdown">
                  <div class="pro-grp">
                    <a class="pro-user">
                      <div class="pro-img">{{ user_data[2] }}</div>
                      <div>
                        <h2>{{ user_data[1] }}</h2>
                        <p>{{ user_data[3] }}</p>
                      </div>
                    </a>
                  </div>
                  <div class="pro-grp">
                    <a href="/logout">Logout</a>
                  </div>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

    <section class="modal">
      <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="user-input-box">
              <h1>Your <span class="drk-gry">Next Read</span></h1>
              <p>
                Write the title of the book you last read and liked. You can
                also enter just any book you like.
                <br />
                The more titles you add to the list, the more our
                recommendations will match your preferences.
              </p>
              <form action="/recommend_books" method="post">
                <input
                  name="user_input"
                  type="text"
                  class="user-input"
                  placeholder="Let's start..."
                />
                <input value="Search" type="submit" class="recommend-btn" />
              </form>
            </div>
            <p id="recommend-msg">{{message}}</p>

            <div class="books-container" style="margin-top: 50px">
              {% if data %} {% for i in data %}
              <div class="card cursor book-link">
                <div class="card-content">
                  <img class="books-img" src="{{i[2]}}" />
                  <div class="book-info">
                    <p class="recommend-bt book-title">{{i[0]}}</p>
                    <h4 class="card-info book-author">{{i[1]}}</h4>
                  </div>
                </div>
              </div>
              {% endfor %} {% endif %}
            </div>
            <div class="none window-popper">
              <div class="window-container">
                <div id="window" class="window">
                  <div class="window-close">
                    <span>+</span>
                  </div>
                  <div class="window-left">
                    <img
                      src="/static/img/ines-sayadi-w40TSnenN3s-unsplash.jpg"
                      alt=""
                      class="window-book-img"
                      id="window-book-img"
                    />
                    <h2 id="window-title"></h2>
                    <p id="window-author"></p>
                  </div>
                  <div class="window-right">
                    <div>
                      <h3></h3>
                      <p class="tracking-wide" id="window-summary"></p>
                    </div>
                    <div class="window-btn-block">
                      <a href="" target="_blank" id="buy-now-btn">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <div class="logo-block">
            <img src="/static/logoNew.png" class="nav-logo" alt="logo" />
            <span class="navbar-brand">
              Book<span class="lgt-grey">Wise</span>
            </span>
          </div>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2023 AI. —
          <a
            href="https://twitter.com/knyttneve"
            class="text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >@Malro</a
          >
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>

    <!-- <script>
      const closeBtn = document.querySelector(".window-close");
      const windowPop = document.querySelector(".window-popper");

      closeBtn.addEventListener("click", (e) => {
        e.preventDefault();
        $(".window-popper").hide();
      });
    </script> -->
  </body>
</html>
